<nav class="navbar is-transparent" style="border-bottom: 1px solid #e8e8e8">
  <div class="navbar-brand">
    <div>
      <%= link_to 'Membership', posts_path, class: 'subtitle' %>
    </div>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'New post', new_post_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <% if logged_in? %>
            <div class="control">
              <%= link_to 'Logout', logout_path, method: :delete, class: 'button is-link' %>
            </div>
          <% else %>
            <div class="control">
              <%= link_to 'Login', login_path, class: 'button is-link' %>
            </div>

            <div class="control">
              <%= link_to 'Register', sign_up_path, class: 'button is-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>